/* Layout.css */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

li {
    display: inline-block;
    margin-right: 10px;
}

.login {
    margin-left: auto;
    margin-right: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

    .button:hover {
        background-color: #0056b3;
    }
